* {
    margin: 3px;
    padding: 10px;
    box-sizing: border-box;
}

video {
    background-color: darkred;
}

body {
    background-color: blanchedalmond;
    line-height: 20px;
    font-family: 'Roboto', sans-serif background-origin: padding-box 10px 40px;
    border-color: #cc9393;
    border-width: 45px;
    border-style: solid;
}



h1 {
    text-align: center;
}

hr {
    background-color: red;
    padding: 5px 5px;
}

h4 {
    text-align: center;
}

h2 {
    text-align: center;
}

h2+p {
    text-align: center;
}

li {
    text-align: center;
}

p+p {
    text-align: center;
}

footer {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.video-1 {
    text-align: center;
}

.taquitos-1 {
    text-align: center;
}

.color-marco-gradient {
    display: inline-block;
    /* padding: px !important; */
    width: 100%;
    background: linear-gradient(45deg, gray, red);
}

.hijo-frame {
    width: 100%;
}

figure {
    text-align: center;
}

div {
    background-image: ;
    text-align: center;
}

a {
    shape-image-threshold: inherit;
}

img {
    background-color: crimson;
}

.tacoss22 {
    background: url(../img/mabelle.JPG);
    background-attachment: fixed;
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.taquis-2 {
    text-align: center;
}

/* difusores  */

.cache-11 {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: #000;
    margin-bottom: 10px;
    border-radius: 100%;
    transition: all ease 3s;
}

.cache-11:hover {
    background:url(..//img/esesta.jpg);
    display: inline-block;
    border-radius: 0%;
    width: 400px;
    height: 539px;
    
}