a {
    color: blue;
}

a:visited {
    color: blue;
}

.tacosidad {
    font-size: 150px;
}

body {
    line-height: 25px;
    font-family: 'Itim', cursive;
    background-origin: padding-box 10px 40px;
    background: linear-gradient(45deg, #BC43A8, pink, #BC43A8, pink, #D88DCC, #BC43A8, silver, pink, #f3f1f3, #BC43A8);
    margin: 3px;
    padding: 30px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.contedorgeneral {
    background-color: #fdf8ed;
    padding: 10px;
    width: 90%;
    margin: auto;
}


h1,h2,h4,h3,p,li {
    text-align: center;
}

hr {
    background: linear-gradient(45deg, #BC43A8, #D88DCC, #E6B2DD);
    padding: 5px 5px;
}



h2+p {
    text-align: center;
}


p+p {
    text-align: center;
}

footer {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.video-1 {
    text-align: center;
    background-color: #D291BC;
    padding: 10px;
    display:inline-block;
    width: 50%;
    margin: auto;
}

.taquitos-1 {
    text-align: center;
}

.hijo-frame {
    width: 100%;
}

figure {
    text-align: center;
}

div {
    text-align: center;
}

img {
    background-color: #D291BC;
    padding: 10px;
}

.tacoss22 {
    background: url(../img/mabelle.JPG);
    background-attachment: fixed;
    background-position: 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.taquis-2 {
    text-align: center;
}

/* color letra difusures*/

.colorletra {
    color: white;
}

/* difusores  */

/*contenedor1*/

.cache-note {
    text-align: center;
    display: inline-block;
    background: url(..//img/contenedoresimagenes/esesta2.jpg);
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 100%;
    background-repeat: no-repeat;
    transition: all ease 1.5s;
}

.cache-note:hover {
    background: url(../img/contenedoresimagenes/esesta.jpg);
    border-radius: 3%;
    width: 400px;
    height: 539px;
    background-repeat: no-repeat;
    display: inline-block;
}

/*contenedor2*/

.cache-nova {
    background: url(../img/contenedoresimagenes/imagen2.jpg);
    display: inline-block;
    width: 250px;
    height: 250px;
    display: inline-block;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    border-radius: 100%;
    transition: all ease 1.5s;
}

.cache-nova:hover {
    background: url(../img/contenedoresimagenes/imagen2g.jpg);
    border-radius: 3%;
    width: 591px;
    height: 422px;
    background-repeat: no-repeat;
    display: inline-block;
}

/*contenedor 3*/

.cache-nolla {
    display: inline-block;
    background: url(../img/contenedoresimagenes/beso1.jpg);
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 100%;
    background-repeat: no-repeat;
    transition: all ease 1.5s;
}

.cache-nolla:hover {
    background: url(../img/contenedoresimagenes/beso2.jpg);
    border-radius: 3%;
    width: 400px;
    height: 539px;
    background-repeat: no-repeat;
    display: inline-block;
}

.cache-nos {
    display: inline-block;
    width: 250px;
    height: 250px;
    background: url(../img/contenedoresimagenes/shulada1.jpg);
    margin-bottom: 10px;
    border-radius: 100%;
    background-repeat: no-repeat;
    transition: all ease 1.5s;
}

.cache-nos:hover {
    background: url(../img/contenedoresimagenes/shulada2.jpg);
    border-radius: 3%;
    width: 539px;
    height: 400px;
    background-repeat: no-repeat;
    display: inline-block;
}

.cache-nonu {
    display: inline-block;
    background: url(../img/contenedoresimagenes/lomashermoso1.jpg);
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    border-radius: 100%;
    transition: all ease 1.5s;
}

.cache-nonu:hover {
    background: url(../img/contenedoresimagenes/lomashermoso2.jpg);
    border-radius: 3%;
    width: 409px;
    height: 350px;
    background-repeat: no-repeat;
    display: inline-block;
}

.cache-non {
    display: inline-block;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background: url(../img/contenedoresimagenes/juntos1.jpg);
    margin-bottom: 10px;
    border-radius: 100%;
    transition: all ease 1.5s;
}

.cache-non:hover {
    background-repeat: no-repeat;
    background: url(../img/contenedoresimagenes/juntos2.jpg);
    border-radius: 3%;
    width: 539px;
    height: 400px;
    display: inline-block;
}

.cachete {
    border-radius: 100px;
    background: linear-gradient(45deg, pink, rgb(228, 131, 223), pink, black);
    width: 10%;
}

.cache-noca {
    display: inline-block;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background: url(../img/contenedoresimagenes/hacertefeliz2.jpg);
    margin-bottom: 10px;
    border-radius: 100%;
    transition: all ease 1.5s;
}

.cache-noca:hover {
    background-repeat: no-repeat;
    background: url(../img/contenedoresimagenes/hacertefeliz1.jpg);
    border-radius: 3%;
    width: 400px;
    height: 539px;
    display: inline-block;
}

.cache-notes {
    display: inline-block;
    width: 250px;
    height: 250px;
    background: url(../img/contenedoresimagenes/total.jpg);
    margin-bottom: 10px;
    border-radius: 100%;
    background-repeat: no-repeat;
    transition: all ease 1.5s;
}

.cache-notes:hover {
    background: url(../img/contenedoresimagenes/total2.jpg);
    border-radius: 5%;
    width: 400px;
    height: 539px;
    background-repeat: no-repeat;
    display: inline-block;
}

.color-marco-gradient {
    padding: 7px 10px;
    display: inline-block;
    width: 45%;
    background: linear-gradient(45deg, black, #BC43A8, pink, #D88DCC, black, #BC43A8, black, pink, #E6B2DD, #BC43A8, black);
}

.texto-mi-amor {
    object-position: top;
    display: inline-block;
    width: 45%;
}

.marcoss {
    border-color: #d881bb;
    border-width: 5px;
    border-style: solid;
    margin: 3px;
    padding: 10px 10px;
    box-sizing: border-box;
}

.colorletra2 {
    color: #000;
}

.margen {
    margin: auto;
}

@media screen and (max-width:790px) {
    body {
        max-width: 95%;
        padding: 10px;
    }
    .cache-notes {
        width: 150px;
        height: 150px;
        border: #000 5px;
    }
    .video-1{
        width: 95%;

    }
/*contenedor1*/

.tacoss22 {
    background: url(../img/mabelle.JPG);
    width: 55%;
    height: auto;
    background-attachment: fixed;
    background-position: 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.lacache+img{
    width: 25%;
}

.tacote{
    width:5%;
}

.img-w-alto {

    width: auto;
    height: auto;
}

.imagen-ultimo{
    width: 60%;
    margin: auto;

}
}