*{
    margin:3px;
    padding:10px;
    box-sizing: border-box;
}
video{
    background-color: darkred;
}
body{
    background-color: blanchedalmond;
    line-height:  20px;
    font-family: 'Roboto',sans-serif
    background-origin: padding-box 10px 40px ;
    border-color: #cc9393;
    border-width: 45px;
    border-style: solid;
}

html{
    scroll-behavior: smooth;
}

h1{
    text-align: center;
}
hr{
    background-color: red;
    padding: 5px 5px;
}
h4{
    text-align: center;
}
h2{
    text-align: center;
}

h2 + p{
    text-align: center;
}
li{
    text-align: center;
}
p + p{
    text-align: center;
}

footer{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.video-1{
    text-align: center;
}
.taquitos-1{
    text-align: center;
}
.mi-lista{
   background-color: blueviolet;
   margin: auto;
   
}
figure{
 text-align: center;
}
div{
    background-image: ;
    text-align: center;
    
}
a{
    text-size-adjust:  ;
}

img{
    background-color: crimson;
   

}
.tacoss{
    
    background: url("../img/esesta.jpeg");
    background-attachment: fixed;
    background-position:  100% 100%;

    background-size: cover;
}

.taquis-2{
    text-align: center;
}
.taco22{
    background: url();
    background-attachment: fixed;
    background-position: center center;
    color: #ffffff;
    
}

